html {
    background-color: azure;
    }

body {
    background-color: azure;
    border-radius: 15px;
}

.weatherwidget {
    margin-bottom: 20px;
    background-color: blue;
    color: white;
    margin-top: 0px;
    padding: 10px;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .15rem .5rem;
    font-size: .775rem;
    margin-bottom: 5px;
    font-weight: 500;
}

#weatherday {
    font-weight: 500;
}

.float-right {
    font-size: 20px;
}

#stat1 {
    margin-right: 50px;
}

#stat3 {
    margin-left: 50px;
}