body {
    background-color: #f0f0f0;
}

body div.login-div {
    padding: 15px;
    border: solid 1px #c0c0c0;
    box-shadow: 0 0 2px #777777;
    display: inline-block;
}

.login-div input{
    display: block;
    margin-bottom: 7px;
}