@font-face {
    font-family: "oswald";
    src: url("fonts/Oswald/Oswald-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "oswald2";
    src: url("fonts/Oswald/Oswald-Light.ttf");
    font-weight: 200;
}

body {
    font-family: "oswald2";
    background-color: azure;
    background-image: url(/img/seamless-pattern-burgers-fries-white-background-vector-illustration-57201619.jpg);
}

h1 {
    color: blue;
    font-family: "oswald";
}

table {
    background: aliceblue;
    border-radius: 20px;
    box-shadow: inset 0 0 20px #000000;
}

.weatherwidget {
    margin-top: 0px;
    padding: 10px;
    border-bottom: solid;
}