@font-face {
    font-family: "oswald";
    src: url("fonts/Oswald/Oswald-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "oswald2";
    src: url("fonts/Oswald/Oswald-Light.ttf");
    font-weight: 200;
}

body {
    font-family: "oswald2";
}

h1 {
    color: blue;
    font-family: "oswald";
}

main {
    display: grid;
    align-items: center;
    justify-content: center;
}

table {
    border-style: solid;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 5px 10px #888888;
    margin: 10px;
}

td {
    border-style: solid;
}